body {
  font-size: 12px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
}

.header {
  height: 45px!important;
  line-height: 45px;
  background-color: #099fde;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.content {
  -webkit-flex: 1;
  position: relative;
}

.footer {
  height: 45px!important;
  line-height: 45px;
  background-color: #099fde;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}
